/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
Black color:  #000;
White color: #fff;
you can use the website color-hex.com for more colors*/

:root {
	--primary-color: blueviolet;
	--secondary-color: #613526;
	--visited-link-color: #458B74;
	--active-link-color: #202DB8;
	--background-button-color: #29082F;
	--background-button-color2: #746A61;
	--button-text-color: white;
}

%box-shared {
	font-weight: 700;
	color: var(--secondary-color);
}


*{
	box-sizing: border-box;
}
body{ 
	font-family:'lato',sans-serif; 
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}
h1{
	font-size: 30px;
	@extend %box-shared;
}

h3{
font-size: 18px;
@extend %box-shared;
}

h2{
	font-size: 15px;
	@extend %box-shared;
}
.things {
	font-size: 13px;
	@extend %box-shared
}
a{
	color: var(--primary-color);
}
a:visited {
	/*visited link */
	color:var(--visited-link-color);
}
a:hover, a:focus{
	/*no underlining when hovering over a link*/
	text-decoration: none; 
}
a:active {
	/*selected link*/
	color:var(--active-link-color);
}

button{
	/*overwrites browser defaults and reset the border*/
	border: none;
	/* takes the font from the outer container*/
	font-family: inherit;
	/*styles the background color,font color and text decoration(underline,etc.) of the button*/
	background-color:var(--background-button-color);
	color: var(--button-text-color);
	text-decoration: none;
	/* adds spacing to the button */
	padding: 10px;
	border-radius: 3px;
	/* gives the button a bottom border with a width of 2px,a type of solid and a color in RBBA format*/
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover,button:focus {
	/*lets the mouse appear as a hand when hovering over he button*/
	cursor: pointer;
	/* reduces the opacity of the button to 80% */
	opacity:0.5;
}
.button__secondary {
  background-color:var(--background-button-color2);
  color: var(--button-text-color);
}
.navigation-list__item--active{
	text-decoration: none;
}

.profile__portrait{
	float: left;
	width: 250px;
	margin-right: 40px;
	border-radius: 50%;
}
.page-footer{
	clear: both;
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}

.profile{
	max-width: 700px;
	margin: 0 auto;
}
.page-header{
	display: flex;
	width: 100%;
	padding: 20px;
}
.page-header__item{
	flex: 0 1 200px;
}
.page-header__item:last-child{
flex-grow: 1;
text-align: right;
}
.navigation-list{
	list-style-type: none;
}
.navigation-list li{
	display: inline-block;
	margin-left: 15px;
}
.grid-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}
.grid-list__item{
	background-color: lightgray;
}
.page--footer{
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.social-media__list{
	list-style-type: none;
	text-align: center;
}

@media all and (max-width: 500px) {
	.grid-list {
		grid-template-columns: 1fr;
	}
}

@media all and (min-width:  500px) and (max-width: 750px) {
	.grid-list{
		grid-template-columns: 1fr 1fr;
	}
}
	@media all and (max-width: 750px){
		.grid-list{
			grid-gap: 10px;
		}
		.grid-list__item:last-child{
			grid-column:auto / auto;
			grid-row:auto / auto;
		}
		h1 {
			font-size: 22px;
		}
	}

.button,button{
	/*overwrites the browser defaults and resets the border*/
border: none;
display: inline-block;
	/* takes the font from the outer container*/
font-weight: inherit;
	/* styling the button*/
background-color: var(--secondary-color);
color: var(--button-text-color);
text-decoration: none;
padding: 10px;
border-radius: 3px;
	/*width of the border, type, color*/
border-bottom: 2px solid rgba(0, 0, 0, 0.3);
transition: 0.2s opacity;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	/* makes mouse appear as a hand when hovering over the button*/
	cursor: pointer;
	/*reduces the opacity of the button to 80%*/
	opacity: 0.8;
}
@keyframes color-change {
	/* 0% stands for "from" */
	0%{
		fill: #edc655;
	}
	/*stand for the halfway mark*/
	50%{
		fill: #fcffad;
	}
	/* 100% stands for "to"*/
	100%{
		fill: #f76414;
	}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move{
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px,50px);
	}
}
.cloud-front {
	animation: 20s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse{
	from{
		transform: translate(446px, 48px);
	}
	to{
		transform: translate(100px, 48px);
	}
}
.cloud-back{
	animation: 25s cloud-move-reverse infinite alternate linear
}
@keyframes nav-move{
	from{
	transform: translate(0)
}
to{
	transform: translate(100px)
}
}
